body {
  margin: 0;
}

#container {
  display: flex;
  gap: 50px;
}

img {
  height: 100vh;
  width: auto;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 1px black;
  height: 500px;
  width: auto;
}

.column-one {
  display: grid;
}

.column-two {
  display: grid;
}
