body {
  margin: 0;
  font-family: "Roboto", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 3fr;
}

.left-side {
    position: relative;
    width: 100%;
    height: 100%;
}

img {
  height: 100vh;
  width: auto;
}

.overlay {
    height: 150px;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 100px;
    background-color: rgba(255, 0, 0, 0.2);
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay img {
    height: 80px;
    width: auto;
    align-self: center;
    opacity: 0.5;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding: 20px;
  border: none;
  height: 300px;
  width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
    display: block;
    font-size: .8rem;
    font-weight: 600;
}

input {
    height: 30px;
    width: 200px;
    padding-left: 10px;
    border: solid 2px darkred;
    background-color: rgba(255, 0, 0, 0.1);
}

input:focus {
    height: 30px;
    width: 200px;
    padding-left: 10px;
    border: solid 2px darkred;
    background-color: white;
}

.column-one {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

.column-two {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}
